<div ng-controller="MyProjectCtrl">
	<p style="font-size: 2em;"> 
	<button class="btn btn-default glyphicon glyphicon-arrow-left" ui-sref="main.myProjects"></button>  {{project.title}}</p>
	<div class="row">
	<div class="col-sm-6">
		<button class="btn btn-default" ui-sref="main.project.addTask">Add New Task</button>
		<div>My Tasks:</div>
		<div ng-repeat="task in project.tasks">
			<div ng-include="'/views/project/task.html'"></div>	
		</div>
	</div>
	<div class="col-sm-6">
		<div ui-view></div>
	</div>
	</div>
</div>