.header {
    background-color: rgba(135, 222, 214, 0.19);
}

.header-nav {
	padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.header-nav li a {
	position: relative;
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	font-size: 1.5em;
    cursor: pointer;
}

.header-nav li{
	display: inline-block;
    float: left;
    cursor: pointer;
    height: 50px;
}

.user-header-container {
    margin-bottom: 0px;
    margin-top: 15px;
}

.user-header-container a {
    cursor: pointer;
}

#login {
    float: right;
}

.hello {
    text-align: center;
    padding: 150px;
    color: #5F5F65;
}

.task-container {
    background-color: #F5F594;
    margin-top: 10px;
    margin-bottom: 10px;
}